.container-fluid
  %ul.nav.nav-tabs
    %li{:class => current_page?(users_path) ? 'active' : ''}
      = link_to 'Users', users_path
    %li{:class => current_page?(orders_path) ? 'active' : ''}
      = link_to 'Orders', orders_path
    %li{:class => current_page?(inventory_orders_path) ? 'active' : ''}
      = link_to 'Current Inventory', inventory_orders_path