/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "bootstrap";

html,
body {
  height: 100%;
  min-width: 960px;
  background: #f5f5f5;
  font-family: "arvil_sansregular"
}

@font-face {
    font-family: 'arvil_sansregular';
    src: url(font-path('arvil_sans-webfont.eot'));
    src: url(font-path('arvil_sans-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('arvil_sans-webfont.woff')) format('woff'),
         url(font-path('arvil_sans-webfont.ttf')) format('truetype'),
         url(font-path('arvil_sans-webfont.svg#arvil_sansregular')) format('svg');
    font-weight: normal;
    font-style: normal;

}


.container {
    background-image: url(image-path("sky_bg.jpg"));
    background-repeat: no-repeat;
    min-height: 553px;
    .header {
      margin-top: 55px;
      height: 553px;
      h1 {
        font-size: 243px;
        font-weight: bold;
        color: #ffffff;
        margin-top: 30px;
      }
      h2 {
        color: #396085;
        font-size: 53px;
      }
      .download {
        text-align: center;
        .teep {
          margin-top: 50px;
          margin-bottom: 10px;
          height: 150px;
        }
        .app-store {
          margin-top: 20px;
        }
        
      }
    }
    
    img.icon {
      display: block;
      margin: auto;
    }

    .bottom {
      font-size: 84px;
      min-height: 160px;
      .choose {
        color: #75b8d4;
      }
      .order {
        color: #cf96cd;
      }
      .relax {
        color: #e8a155;
      }
      .bottom-icon {
        min-height: 115px;
      }
      .bottom-icon.relax {
        position: relative;
        img {
          position: absolute; 
          top: -15px;
          right: 115px;
        }
      }
      text-align: center;
    }
}
footer {
  text-align: center;
}